<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Explore Restaurants in Indonesia">
  <meta name="theme-color" content="#317EFB"/>
  <link rel="icon" href="favicon.png">
  <link rel="manifest" href="manifest.json">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  <link rel="apple-touch-icon" href="/custom_icon.png">
  <title>Restaurant Apps</title>
</head>
<body>
<a href="#mainContent" class="skip-link">Skip to content ?</a>
<header class="app-bar">
  <div class="app-bar__menu">
    <button aria-label="menu" id="hamburgerButton">☰</button>
  </div>
  <div class="app-bar__brand">
    <h1>Restaurant Apps</h1>
  </div>
  <nav id="navigationDrawer" class="app-bar__navigation">
    <ul>
      <li><a href="#/">Home</a></li>
      <li><a href="#/favorite">Favorite</a></li>
      <li><a href="https://www.linkedin.com/in/agung-nugroho-580787167/" target="_blank" rel="noreferrer" >About Us</a></li>
    </ul>
  </nav>
</header>
<div class="hero" >
  <div class="hero-overlay" >
    <div class="hero-inner">
      <h1 class="hero-title">The Best Restaurant </h1>
      <p class="hero-tag">in Indonesia</p>
    </div>
  </div>
</div>

<main id="mainContent">

</main>
<footer>
  <p>Copyright © 2021 - Restaurant Apps</p>
</footer>
</body>
</html>
